In [1]:
import pandas as pd

In [2]:
# Lendo arquivo excel
dfClientes   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'clientes')
dfLojas      = pd.read_excel('caso_estudo.xlsx', sheet_name = 'lojas')
dfProdutos   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'produtos')
dfVendas     = pd.read_excel('caso_estudo.xlsx', sheet_name = 'vendas')
dfPagamentos = pd.read_excel('caso_estudo.xlsx', sheet_name = 'pagamentos')

In [3]:
# Corrigindo o index
dfClientes   = dfClientes.set_index('id')
dfLojas      = dfLojas.set_index('id')
dfProdutos   = dfProdutos.set_index('id')
dfVendas     = dfVendas.set_index('id')
dfPagamentos = dfPagamentos.set_index('id')

In [4]:
# Join
df = dfVendas.join( dfClientes.add_prefix('clientes_'), on = 'id_cliente' )
df = df.join( dfLojas.add_prefix('loja_'), on = 'id_loja' )
df = df.join( dfProdutos.add_prefix('produto_'), on = 'id_produto' )
df = df.join(dfPagamentos.set_index('id_venda'))

In [5]:
df

,id_cliente,id_loja,id_produto,dt_venda,clientes_nome,clientes_sexo,clientes_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto
id,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1/4/1950,Palmas,laptop básico,2300.0,2018-01-24
2,417,9,3,2018-01-04,Leonor Almeida,F,1/31/1972,Palmas,laptop básico,2300.0,2018-02-17
3,374,7,8,2018-01-04,André Alves,M,8/3/1962,Salvador,cadeira,540.0,2018-02-14
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,11/5/1941,Belo Horizonte,laptop básico,2300.0,NaT
5,18,9,1,2018-01-05,Antônio Azevedo,M,4/15/1941,Palmas,mouse,20.0,2018-01-23
...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,10/31/1999,Curitiba,carregador,150.0,2020-10-17
2997,586,8,3,2020-09-27,Aline Pinto,F,3/29/1994,Brasília,laptop básico,2300.0,2020-10-02
2998,731,2,4,2020-09-27,Otávio Silva,M,5/4/1986,Rio de Janeiro,laptop gamer,5300.0,NaT
2999,163,2,1,2020-09-27,Ana Pereira,F,1/10/1967,Rio de Janeiro,mouse,20.0,NaT
3000,770,2,2,2020-09-27,Beatrice Castro,F,6/25/1944,Rio de Janeiro,teclado,30.0,NaT

In [6]:
# Verificando se algum dado foi considerado como nulo ou em branco
df.isnull().sum()

id_cliente            0
id_loja               0
id_produto            0
dt_venda              0
clientes_nome         9
clientes_sexo        11
clientes_dt_nasc      5
loja_cidade           0
produto_produto       0
produto_valor         0
dt_pgto             928
dtype: int64